*{
  box-sizing: border-box;
}
.habit{
  padding:0.5em;
  list-style: none;
  cursor: pointer;
}

.habit-name{
  font-size: 2rem;
  margin-right: 1rem;
}
.habit-count{
  display: inline-block;
  text-align: center;
  background-color: darkseagreen;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color:white;
  font-size: 2rem;
}
button{
  outline: none;
  border:0;
  cursor: pointer;
}

.habit-button{
  margin:0 0.1em;
  background-color: transparent;
  font-size: 2.5rem;
}

.habit-button:hover{
  opacity: 0.8;
}

.increase,
.decrease{

  color:goldenrod;
}
.delete{
  color: darkred;
}

nav{

  background-color:#FFEACE;
  font-size: 1.5rem;
  padding:0.5em;
  display: flex;
  width: 100%;
  align-items: center;


}

li{
  list-style: none;
  padding: 0.5em;
}
.header-icon{
  color:green;
  margin-right: 0.5em;
}

.header-count{
  display: inline-block;
  line-height: 2.5rem;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: green;
  border-radius: 50%;
  margin-left: 0.2rem;
  color:white;
}

.add-div{
color:red;
}
.add-div:first-child{
  padding:10px;
  
}
.add-div:last-child{
  color:red;
}
.reset-button{
  font-size: 2em;
  color:white;
  margin:1em;
  padding:0.2em 0.4em;
  background-color: green;
  
}